<#@ template language="C#" #>

{
    if (!IsAtRoot())
    {
        throw new Exception("A <#=composer.Replace("Composer", "").ToLower()#> must be selected (which is also a root to the composer)");
    }

    string fragment = $"<#=fragment#>";

    var statement = SyntaxFactory.ParseStatement(fragment);

    var newNode = (CurrentNode as <#=composerNode#>).AddBodyStatements(statement);

    Replace(CurrentNode, newNode, null);

    return this;
}